<h1>商品一覧</h1>
<% @items.each do |item| %>
  <p>商品ID</p>
  <span><%= item.id %></span>
  <p>商品名</p>
  <span><%= item.name %></span>
  <p>税抜価格</p>
  <span><%= item.price %></span>
  <p>ジャンル</p>
  <span><%= item.genre.name %></span>
  <p>ステータス</p>
  <% if item.is_active == true %>
    <p class="text-success">販売中</p>
  <% else %>
    <p class="text-secondary">販売停止中</p>
  <% end %>
<% end %>